language: ruby
rvm:
  - 2.2.2
sudo: required
branches:
  only:
  - master
cache:
  directories:
    - node_modules
    - vendor/bundle
env:
  global:
    secure: 
addons:
  apt:
    packages:
      - aspell
      - aspell-en
      - build-essential
      - graphviz
      - gnuplot
      - s3cmd
      - fontforge
      - liblapack-dev
before_install:
- set -e
- git config --global user.email "tarun@izap.in"
- git config --global user.name "tarunjangra"
- openssl aes-256-cbc -K $encrypted_185c9067a251_key -iv $encrypted_185c9067a251_iv -in id_rsa.enc -out id_rsa -d -out id_rsa -d
- mv id_rsa ~/.ssh
- chmod 600 ~/.ssh/id_rsa
install:
  - set -e
  - travis_retry sudo _travis/install_cmake.sh; sudo apt-get install -y libxml2-utils
  - travis_retry npm install cssshrink@0.0.5
  - travis_retry sudo _travis/install_plantuml.sh
  - travis_retry sudo _travis/install_sfnt2woff.sh
  - travis_retry sudo _travis/install_tidy.sh
  - travis_retry bundle install
  - travis_retry gem install fontcustom -v 1.3.8
  - fontcustom --version
  - travis_retry gem install jgd -v 1.6.5
  - gnuplot --version
script:
  - set -e
  - bundle exec rake
  - export JEKYLL_ENV=production
  - bundle exec jgd -u git@github.com:tarunjangra/blog.git
